<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
<main class="container-fluid bg-light vh-100">
  <div class="container pt-5">
  <div class="d-flex align-items-start">
    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Account</button>
      <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">History</button>
    </div>
    <div class="tab-content col-8 card p-5 ms-5" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
        <section class="mt-3">
            <h2 class="border-bottom pb-3">Your Account Information</h2>
            <div class="mb-5">
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>
              <div class="mb-5" id="general">
                <h3 class="mb-3 pb-3">General</h3>
                <div class="form-floating mb-3">
                  <%= f.text_field :username, autofocus: true, autocomplete: "username", placeholder: "Username", id: "Username", class: "form-control" %>
                  <%= f.label :username, for: "Username", class: "text-secondary" %>
                </div>
                <div class="form-floating mb-3">
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", id: "Email", class: "form-control" %>
                  <%= f.label :email, for: "Email", class: "text-secondary" %>
                </div>
                <div class="form-floating mb-3">
                  <%= f.text_field :first_name, autocomplete: "first_name", placeholder: "First name", id: "first_name", class: "form-control" %>
                  <%= f.label :first_name, for: "first_name", class: "text-secondary" %>
                </div>

                <div class="form-floating mb-3">
                  <%= f.text_field :last_name, autocomplete: "last_name", placeholder: "Last first_name", id: "last_name", class: "form-control" %>
                  <%= f.label :last_name, for: "last_name", class: "text-secondary" %>
                </div>
                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                <% end %>
              </div>
              <h3 class="mt-3 pb-3">Password</h3>
              <div class="form-floating mb-3">
                <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", id: "password", class: "form-control" %>
                <%= f.label "Password (#{@minimum_password_length} characters minimum)", for: "password", class: "text-secondary" %>
              </div>

              <div class="form-floating mb-3">
                <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "New Password", id: "new-password", class: "form-control"  %>
                <%= f.label "Confirm password", for: "new-password", class: "text-secondary" %>
              </div>
              <hr class="text-danger">
              <div class="form-floating mb-3">
                
                <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "Current password", id: "current-password", class: "form-control" %>
                <%= f.label :current_password, for: "current-password", class: "text-secondary" %> <i>(we need your current password to confirm your changes)</i><br />
              </div>

              <div class="actions">
                <%= f.submit "Update", class: "btn btn-primary" %>
              </div>
              <% end %>
            </div>

            <h3>Cancel my account</h3>

            <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), class: "btn btn-danger btn-sm", data: { confirm: "Are you sure you want to leave Seven Army?" }, method: :delete %></p>
        </section>
      </div>
      <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
        <section class="container">
          <div class="row" id="my_images">
            <% current_user_alt.each do |alt| %>
              <div id="my_image" class="p-4 col-sm-3 col-md-2">
                <%= link_to alt, "aria-label": alt.body do %>
                  <%= image_tag alt.image_url(:small), caption: alt.title, alt: alt.alt_texts.pluck(:body).last,height: alt.image(:small).height, width: alt.image(:small).width, class: "border rounded image img-fluid w-100" %>
                <% end %>
              </div>
            <% end %>
            <p>Can't find your image?  It's either in a duplication check process or it needs verification from the seven.army community.  Another possibility is that it's been flagged and removed.  Please contact kate@seven.army with any questions.</p>
          </div>
        </section>
      </div>
    </div>
  </div>
  </div>
</main>

