<%= form_with(model: testing) do |form| %>
  <% if testing.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(testing.errors.count, "error") %> prohibited this testing from being saved:</h2>

      <ul>
        <% testing.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.rich_text_area :title %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
