
  <div id="<%= dom_id alt %>" class="card p-3">
    <h3><%= alt.title %></h3>
    <%= link_to alt do %>
      <%= image_tag alt.image_url(:large), class: "image w-100" %>
       <turbo-frame id="<%= dom_id(alt) %>" loading="lazy" src="<%= alts_path %>">
          <%= render('common/spinner') %>
      </turbo-frame>
  
    <% end %>    
    <%= alt.user.first_name if alt.user.first_name.present? %>
    <%= link_to "View image", alt, "aria-label": alt.title + "image" %>
  </div>
 
