
  <div id="<%= dom_id alt %>" class="p-3">
    <%= link_to alt, "aria-label": alt.body do %>
      <%= image_tag alt.image_url(:small), class: "border rounded image w-100" %>
       <turbo-frame id="<%= dom_id(alt) %>" loading="lazy" src="<%= alts_path %>">
          <%= render('common/spinner') %>
      </turbo-frame>
    <% end %>    
  </div>
 
