<main class="container-fluid pt-3">
  <section class="container">
    <div class="col-8 mt-2 mx-auto ">
      <%= form_with url: '/alts', method: :get do |form| %>
        <div class="input-group input-group-lg">
          <%= form.label :query, "Search seven.army for:", class: "sr-only" %>
          <%= form.text_field :query, placeholder: params[:query] || "search for...", class: "form-control rounded" %>
          <%= form.submit "Search", class: "btn btn-primary", name: "search_home" %>
        </div>
      <% end %>
    </div>
    <hr class="border-bottom border-muted my-3 ">
    <div class="row g-5">
      <div class="col-md-12">
        <div id="alts" class="row" data-masonry='{"percentPosition": true }'>
          <ul class="nav nav-tabs mb-3 justify-content-center" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="pills-all-tab" data-bs-toggle="tab" data-bs-target="#pills-all" type="button" role="tab" aria-controls="pills-all" aria-selected="true" data-bs-masonry='{"percentPosition": true }'>All Seven Army</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-profile-tab" data-bs-toggle="tab" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false" data-bs-masonry='{"percentPosition": true }'>My Seven Army <i class="fa fa-heart" aria-hidden="true"></i></button>
            </li>
          </ul>
          <div class="tab-content favorite_seven" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-all" role="tabpanel" aria-labelledby="pills-all-tab">
              <div  id="alts_tab" class="row col-lg-12 p-5" data-bs-masonry='{"percentPosition": true }'>
                <% @alts.each do |alt| %>
                  <% if alt.verified && !alt.flag %>
                    <div id="alt" class="col-md-4">
                      <% if current_user.present? %>
                    
                             
                        <% @alt_fav_user_check = current_user.alt_favorites.map{|fav| fav.alt_id == alt.id ? fav.alt_id : nil}.compact.flatten.uniq %>
                        <% @alt_fav_user_check =  @alt_fav_user_check.pop %>
                        <% if @alt_fav_user_check.present? && @alt_fav_user_check == alt.id %>
                         
                           <%= current_user.alt_favorites.map{|fav| (!fav.nil? && fav.alt_id == alt.id) ?  link_to("", "/alt_favorites/#{fav.id}", method: :delete, id: "favorite", class: "fa fa-heart fs-2 ", style: "visibility: visible;") : nil}.uniq.compact.flatten.join(", ").html_safe %>
                         
                           <div class="noFav" style="display: none;">
                                <%= form_for @fav, local: false, turbo: false, remote: true, :html => {:id => "noFav_#{ alt.id}" }, controller: 'alts' do |f| %>
                                  <%= f.button type: 'submit', style: "border:0; background:none;", class: "p-0" do  %><i id="noFavorite" class="fa fa-heart-o fs-2" aria-hidden="true"></i><% end %>
                                  <%= f.hidden_field :user_id, value: current_user.id %>
                                  <%= f.hidden_field :alt_id, value: alt.id %>
                                  <%= f.hidden_field :page, value: params[:page] %>

                                <% end %>
                              </div>
                         
                        
                        <% else %>



                              <div class="noFav" style="display: inline-block;">
                                <%= form_for @fav, local: false, method: :post, :html => {:class => "noFavForm", :id => "noFav_#{ alt.id}" }, controller: 'alt_favorites' do |f| %>
                                  <%= f.button type: 'submit', style: "border:0; background:none;", id: "noFavbtn", class: "p-0" do  %><i id="noFavorite" class="fa fa-heart-o fs-2" aria-hidden="true"></i><% end %>
                                  <%= f.hidden_field :user_id, value: current_user.id %>
                                  <%= f.hidden_field :alt_id, value: alt.id %>
                                  <%= f.hidden_field :page, value: params[:page] %>

                                <% end %>
                              </div>
                        <% end %>
                        <div  >
                          <%= render alt %>
                          </div>
                  
                      <% else %>
                        <%= render alt %>
                      <% end %>
                    </div>
                  <% end %>
                <% end %>
                <%= paginate @alts, params: {controller: 'alts', action: 'index'} %>
              </div>
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
              <div id="flags" class="row col-lg-12 p-5 flags" data-bs-masonry='{"percentPosition": true }'>
                <% if current_user.present? %>
                  <% current_user.alt_favorites.each do |alt| %>
                  <% alt = Alt.find_by(id: alt.alt_id) %>
                    <div class="col-md-4">
                      <% if current_user.present? %>
                        <% @alt_fav_user_check = current_user.alt_favorites.map{|fav| fav.alt_id == alt.id ? fav.alt_id : nil}.compact.flatten.uniq %>
                        <% @alt_fav_user_check =  @alt_fav_user_check.pop %>
                        <% if @alt_fav_user_check.present? && @alt_fav_user_check == alt.id %>
                          <%= current_user.alt_favorites.map{|fav| fav.alt_id == alt.id ? link_to("", {controller: alt_favorites_path, :action =>'destroy', :id => fav.id}, data: { data_id: alt.id, turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "fa fa-heart fs-2 #{@alt.id} ") : nil}.uniq.compact.flatten.join(", ").html_safe %>
                          <%= link_to alt, "aria-label": alt.body do %>
                            <%= image_tag alt.image_url(:small), caption: alt.title, alt: alt.alt_texts.pluck(:body).last,height: alt.image(:small).height, width: alt.image(:small).width, class: "border rounded image img-fluid w-100" %>
                             <turbo-frame id="<%= dom_id(alt) %>" loading="lazy" src="<%= alts_path %>">
                                <%= render('common/spinner') %>
                            </turbo-frame>
                          <% end %>
                        <% else %>
                          <%= form_for @fav, turbo: false, remote: true, :html => {:id => alt.id } do |f| %>
                            <%= f.button type: 'submit', style: "border:0; background:none;", id: alt.id, class: "p-0" do  %><i class="fa fa-heart-o fs-2" aria-hidden="true"></i><% end %>
                            <%= f.hidden_field :user_id, value: current_user.id %>
                            <%= f.hidden_field :alt_id, value: alt.id %>
                          <% end %>
                          <%= link_to alt, "aria-label": alt.body do %>
                            <%= image_tag alt.image_url(:small), caption: alt.title, alt: alt.alt_texts.pluck(:body).last,height: alt.image(:small).height, width: alt.image(:small).width, class: "border rounded image img-fluid w-100" %>
                             <turbo-frame id="<%= dom_id(alt) %>" loading="lazy" src="<%= alts_path %>">
                                <%= render('common/spinner') %>
                            </turbo-frame>
                          <% end %>
                        <% end %>
                      <% else %>
                        <div class="fs-1">Please log in or sign up to select favorites</div>
                      <% end %>
                    </div>
                  <% end %>  
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
 <script>
   
   var ias;
   function initIAS() {
    ias = null;
     ias = new InfiniteAjaxScroll('#alts_tab', {
        item: '#alt',
        next: ".next a",
        pagination: '.pagination'
      });
    }

    $(document).ready(function() {
      initIAS();
     // $(document).on("load", initIAS);

    });
    //$(document).ajaxComplete(ias);




  </script>

