<main class="container-fluid pt-3">
  <section class="container">
    <div class="col-8 mt-2 mx-auto ">
      <%= form_with url: '/alts', method: :get do |form| %>
        <div class="input-group input-group-lg">
          <%= form.label :query, "Search seven.army for:", class: "sr-only" %>
          <%= form.text_field :query, placeholder: params[:query] || "search for...", class: "form-control rounded" %>
          <%= form.submit "Search", class: "btn btn-primary", name: "search_home" %>
        </div>
      <% end %>
    </div>
    <div class="mt-4">
      <ul class="nav nav-tabs mb-3 justify-content-center" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="pills-all-tab" data-bs-toggle="tab" data-bs-target="#pills-all" type="button" role="tab" aria-controls="pills-all" aria-selected="true">All Seven Army</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-profile-tab" data-bs-toggle="tab" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">My Seven Army <i class="fa fa-heart" aria-hidden="true" style="text-decoration: none"></i></button>
        </li>
      </ul>
      <div class="tab-content favorite_seven" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-all" role="tabpanel" aria-labelledby="pills-all-tab">
       
          <div class="grid" id="alts_tab">
            <% @alts.each do |alt| %>
           
              <% if alt.verified && !alt.flag  %>
             
                <div id="alt" class="item">
                  <% if current_user.present? %>
                    <% @alt_fav_user_check = current_user.alt_favorites.map{|fav| fav.alt_id == alt.id ? fav.alt_id : nil}.compact.flatten.uniq %>
                    <% @alt_fav_user_check =  @alt_fav_user_check.pop %>
                    <% if @alt_fav_user_check.present? && @alt_fav_user_check == alt.id %>
                       <%= current_user.alt_favorites.map{|fav| (!fav.nil? && fav.alt_id == alt.id) ?  link_to("", "/alt_favorites/#{fav.id}", method: :delete, id: "favorite", class: "fa fa-heart fs-4 ", style: "text-decoration: none; visibility: visible;") : nil}.uniq.compact.flatten.join(", ").html_safe %>
                       <div class="noFav" style="display: none;">
                          <%= form_for @fav, local: false, turbo: false, remote: true, :html => {:id => "noFav_#{ alt.id}" }, controller: 'alts' do |f| %>
                            <%= f.button type: 'submit', style: "border:0; background:none; text-decoration: none", class: "p-0" do  %><i id="noFavorite" class="fa fa-heart-o fs-4" aria-hidden="true" style="text-decoration: none;"></i><% end %>
                            <%= f.hidden_field :user_id, value: current_user.id %>
                            <%= f.hidden_field :alt_id, value: alt.id %>
                            <%= f.hidden_field :page, value: params[:page] %>
                          <% end %>
                        </div>
                    <% else %>
                      <div class="noFav" style="display: inline-block;">
                        <%= form_for @fav, local: false, method: :post, :html => {:class => "noFavForm", :id => "noFav_#{ alt.id}" }, controller: 'alt_favorites' do |f| %>
                          <%= f.button type: 'submit', style: "border:0; background:none; text-decoration: none", id: "noFavbtn", class: "p-0" do  %><i id="noFavorite" class="fa fa-heart-o fs-4" aria-hidden="true" style="text-decoration: none;"></i><% end %>
                          <%= f.hidden_field :user_id, value: current_user.id %>
                          <%= f.hidden_field :alt_id, value: alt.id %>
                          <%= f.hidden_field :page, value: params[:page] %>
                        <% end %>
                      </div>
                    <% end %>
                    <%= render alt %>
                  <% else %>
                    <%= render alt %>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
          <div class="row pagination">
          <div class="col-6 text-center pagination_prev">
            <%= link_to_previous_page @alts, '<——', class: "btn btn-outline-primary btn-lg btn-block prev" %>
          </div>
          <div class="col-6 text-center pagination_next">
            <%= link_to_next_page @alts, '——>', class: "btn btn-outline-primary btn-lg btn-block next" %>
          </div>
        </div>
        </div>
        <div class="tab-pane fade show" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
          <div class="grid" id="alts_fav">
            <% if current_user.present? %>
              <% current_user.alt_favorites.each do |alt| %>
              <% alt = Alt.find_by(id: alt.alt_id) %>
                <div id="alt" class="item">
                  <% if current_user.present? %>
                    <% @alt_fav_user_check = current_user.alt_favorites.map{|fav| fav.alt_id == alt.id ? fav.alt_id : nil}.compact.flatten.uniq %>
                    <% @alt_fav_user_check =  @alt_fav_user_check.pop %>
                    <% if @alt_fav_user_check.present? && @alt_fav_user_check == alt.id %>
                      <%= current_user.alt_favorites.map{|fav| fav.alt_id == alt.id ? link_to("", {controller: alt_favorites_path, :action =>'destroy', :id => fav.id}, data: { data_id: alt.id, turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "fa fa-heart fs-4 #{@alt.id} "): nil}.uniq.compact.flatten.join(", ").html_safe %>
                      <%= link_to alt, "aria-label": alt.body do %>
                        <%= image_tag alt.image_url(:small), caption: alt.title, alt: alt.alt_texts.pluck(:body).last,height: alt.image(:small).height, width: alt.image(:small).width, class: "border rounded image img-fluid w-100" %>
                      <% end %>
                    <% else %>
                      <%= form_for @fav, turbo: false, remote: true, :html => {:id => alt.id } do |f| %>
                        <%= f.button type: 'submit', style: "border:0; background:none;", id: alt.id, class: "p-0" do  %><i class="fa fa-heart-o fs-4" aria-hidden="true"></i><% end %>
                        <%= f.hidden_field :user_id, value: current_user.id %>
                        <%= f.hidden_field :alt_id, value: alt.id %>
                      <% end %>
                      <%= link_to alt, "aria-label": alt.body do %>
                        <%= image_tag alt.image_url(:small), caption: alt.title, alt: alt.alt_texts.pluck(:body).last,height: alt.image(:small).height, width: alt.image(:small).width, class: "border rounded image img-fluid w-100" %>
                      <% end %>
                    <% end %>
                  <% else %>
                    <div class="fs-1">Please log in or sign up to select favorites</div>
                  <% end %>
                </div>
              <% end %>  
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<script>

     $(document).ready(function() {
        
          var ias;
          var isMobile = false;

          if ("maxTouchPoints" in navigator) {
              isMobile = navigator.userAgentData.mobile;
          } 

          

         if (typeof screen.orientation !== 'undefined') {
          ias = null
          var matches = [];
          ias = new InfiniteAjaxScroll('#alts_tab', {
              item: "div[id^='alt_item_']",
              next: '.next',
              pagination: '.pagination_next',
              prefill: false
             
             
            
            });

          

         } else {
          $(".pagination").css('display', 'block');
         }

            
           /* dup test
           append:  $("div[id^='alt_']").each(function () {
                          var thisId = this.id;
                          console.log(thisId)
                          console.log(matches.indexOf(thisId))
                          if (matches.indexOf(thisId) > -1) {
                              //this.id = 'dup'+ this.id;
                              console.log(this.id)
                            // $("div[id^='dup ']").remove();
                           // $("div[id='alt']").remove();
                            
                          } else {
                            
                            matches.push(thisId);
                          }
                          console.log(matches)
                      }),*/
        


         

        
    

       });
  </script>

  <script>
    //$(document).ready(function() {
     //  var alts_layout = document.querySelector('#alt_tab');
     //  var alts_mason = new Masonry( alts_layout, {
     //      itemSelector : '#alt',
     //      percentPosition: true,
     // });

     //  var flags_layout = document.querySelector('#alts');
     //  var flags_mason = new Masonry( flags_layout, {
     //      itemSelector : '#alt',
     //      percentPosition: true,
     //      columnWidth: 80
     // });

      /*$('#alt_tab').masonry({
          itemSelector : '#alt',
          percentPosition: true
      });
    });

    

    var tabEl = document.getElementById("pills-profile-tab")
      tabEl.addEventListener('shown.bs.tab', function (event) {

      $("#alts_fav").masonry({
        itemSelector: '#alt_fav',
        percentPosition: true
      });
    });*/

  </script>
