<main class="container-fluid pt-3">
  <section class="container">
    <div class="col-8 mt-2 mx-auto ">
      <%= form_with url: '/alts', method: :get do |form| %>
        <div class="input-group input-group-lg">
          <%= form.label :query, "Search seven.army for:", class: "sr-only" %>
          <%= form.text_field :query, placeholder: params[:query] || "search for...", class: "form-control rounded" %>
          <%= form.submit "Search", class: "btn btn-primary", name: "search_home" %>
        </div>
      <% end %>
    </div>
    <div class="mt-4">
      <ul class="nav nav-tabs mb-3 justify-content-center" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="pills-all-tab" data-bs-toggle="tab" data-bs-target="#pills-all" type="button" role="tab" aria-controls="pills-all" aria-selected="true">All Seven Army</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-fav-tab" data-bs-toggle="tab" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">My Seven Army <i class="fa fa-heart" aria-hidden="true" style="text-decoration: none"></i></button>
        </li>
      </ul>
      <div class="tab-content favorite_seven" id="home-alts pills-tabContent">
        <div class="tab-pane fade show active" id="pills-all" role="tabpanel" aria-labelledby="pills-all-tab">
       
          <div class="grid" id="alts_tab">
            <% @alts.each do |alt| %>
           
              <% if alt.verified && !alt.flag  %>
             
                <div id="alt_item_<% alt.id %>" class="item">
                  <% if current_user.present? %>
                    <% @alt_fav_user_check = current_user.alt_favorites.map{|fav| fav.alt_id == alt.id ? fav.alt_id : nil}.compact.flatten.uniq %>
                    <% @alt_fav_user_check =  @alt_fav_user_check.pop %>

                      <% @fav_check = current_user.alt_favorites.where("alt_id": alt.id).first %>
          
                      <% if !@fav_check.nil? && @fav_check.alt_id == alt.id %>
                        <%=  link_to "",  "alts/#{alt.id}/unfavorite", id: "#{alt.id}_fav",class: "favbtn fav-btn-show fa fa-heart fs-4 mt-0 mb-1 #{alt.id}" , style: "display: block;" , remote: true %>
                      <% else %>
                        <%=  link_to "",  "alts/#{alt.id}/favorite", id: "#{alt.id}_fav", class: "favbtn unfav-btn-show fa fa-heart-o fs-4 mb-1 #{@alt.id} " , style: "display: block;", remote: true %>
                      <% end %>  
                  
                    <%= render alt %>
                  <% else %>
                    <%= render alt %>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
          <div class="row pagination">
          <div class="col-6 text-center pagination_prev">
            <%= link_to_previous_page @alts, '<——', class: "btn btn-outline-primary btn-lg btn-block prev" %>
          </div>
          <div class="col-6 text-center pagination_next">
            <%= link_to_next_page @alts, '——>', class: "btn btn-outline-primary btn-lg btn-block next" %>
          </div>
        </div>
        </div>
        <div class="tab-pane fade show" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
          <div class="grid" id="alts_fav">
            <% if current_user.present? %>
              <% current_user.alt_favorites.each do |alt| %>
              <% alt = Alt.find_by(id: alt.alt_id) %>
                <div id="alt favTab<%= alt.id %>" class="item">
                  <% if current_user.present? %>
                    <% @fav_check = current_user.alt_favorites.where("alt_id": alt.id).first %>

                      <% if !@fav_check.nil? && @fav_check.alt_id == alt.id %>
                        <%=  link_to "",  "alts/#{alt.id}/unfavorite", id: "#{alt.id}_fav_tab",class: "favbtn fav-btn-show fa fa-heart fs-4 mt-0 mb-1 #{alt.id}" , style: "display: block;" , remote: true %>
                      <% end %>  
                      <%= link_to alt, "aria-label": alt.body do %>
                        <%= image_tag alt.image_url(:small), caption: alt.title, alt: alt.alt_texts.pluck(:body).last,height: alt.image(:small).height, width: alt.image(:small).width, class: "border rounded image img-fluid w-100" %>
                       <% end %>
                    <!--<% @alt_fav_user_check = current_user.alt_favorites.map{|fav| fav.alt_id == alt.id ? fav.alt_id : nil}.compact.flatten.uniq %>
                    <% @alt_fav_user_check =  @alt_fav_user_check.pop %>
                    <% if @alt_fav_user_check.present? && @alt_fav_user_check == alt.id %>
                    
                      <%= current_user.alt_favorites.map{|fav| fav.alt_id == alt.id ? link_to("", {controller: alt_favorites_path, :action =>'destroy', :id => fav.id}, data: { data_id: alt.id, turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "fa fa-heart fs-4 #{@alt.id} "): nil}.uniq.compact.flatten.join(", ").html_safe %>
                      <%= link_to alt, "aria-label": alt.body do %>
                        <%= image_tag alt.image_url(:small), caption: alt.title, alt: alt.alt_texts.pluck(:body).last,height: alt.image(:small).height, width: alt.image(:small).width, class: "border rounded image img-fluid w-100" %>
                      <% end %>
                    <% else %>
                      <%= form_for @fav, turbo: false, remote: true, :html => {:id => alt.id } do |f| %>
                        <%= f.button type: 'submit', style: "border:0; background:none;", id: alt.id, class: "p-0" do  %><i class="fa fa-heart-o fs-4" aria-hidden="true"></i><% end %>
                        <%= f.hidden_field :user_id, value: current_user.id %>
                        <%= f.hidden_field :alt_id, value: alt.id %>
                      <% end %>
                      <%= link_to alt, "aria-label": alt.body do %>
                        <%= image_tag alt.image_url(:small), caption: alt.title, alt: alt.alt_texts.pluck(:body).last,height: alt.image(:small).height, width: alt.image(:small).width, class: "border rounded image img-fluid w-100" %>
                      <% end %>
                    <% end %>-->
                  <% else %>
                    <div class="fs-1">Please log in or sign up to select favorites</div>
                  <% end %>
                </div>
              <% end %>  
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<script>

     $(document).ready(function() {
        
          var ias;
          var isMobile = false;

         // if ("maxTouchPoints" in navigator) {
        if (/Mobi|Android/i.test(navigator.userAgent)) {
            console.log("mobile")
            isMobile = true;
        } 

          

         if (isMobile === true) {
          ias = null
          
          var matches = [];
           ias = new InfiniteAjaxScroll('#alts_tab', {
              item: "div[id^='alt_item']",
              next: '.next',
              pagination: '.pagination_next',
              prefill:false
            });

         } 
       

            
           /* dup test
           append:  $("div[id^='alt_']").each(function () {
                          var thisId = this.id;
                          console.log(thisId)
                          console.log(matches.indexOf(thisId))
                          if (matches.indexOf(thisId) > -1) {
                              //this.id = 'dup'+ this.id;
                              console.log(this.id)
                            // $("div[id^='dup ']").remove();
                           // $("div[id='alt']").remove();
                            
                          } else {
                            
                            matches.push(thisId);
                          }
                          console.log(matches)
                      }),*/
        


         

        
    

       });
  </script>

 <script>
$(document).ready( function() {
  console.log("test")

   $('button[data-bs-toggle="tab"]').on('show.bs.tab', function(e) {
        localStorage.setItem('activeTab', $(e.target).attr('href'));
    });
    var activeTab = localStorage.getItem('activeTab');
    if(activeTab){
        $('#pills-tab button[href="' + activeTab + '"]').show();
    }
 
var favBtns = document.querySelectorAll(".favbtn");

  $(".favbtn").click( function(e) {
    console.log( $(this).attr("id").split("_")[0])

    var altID = $(this).attr("id").split("_")[0];
    var favTabBtn = $(this).attr("id").split("_").length === 3 && $(this).attr("id").split("_")[2] === "tab" ;
    var hrefVal =  $(this).attr("href");
   //alert(hrefVal.split("/")[2])
    var action = hrefVal.split("/")[2]

    e.preventDefault();
    $.ajax({
        context: this,
        type:'PUT',
        url: hrefVal,
        data: {id : altID },
        async: false,
       
         beforeSend: function (req) {
           var remove = false;
          if (action === "unfavorite") {
            //alert("Are you sure?")
            if (favTabBtn === true) {
              if (confirm('Are you sure?')) {
                  alert('Removing')
                  remove = true;
                  $(this).parent().hide()


              } else {
                  alert('Canceling');
                  req.abort();
                  
              }

            } 

          
            if (favTabBtn === false ) {
              $(this).toggleClass("fa-heart-o");
              $(this).attr("href",  "alts/" + altID + '/favorite');
              //$('#my_tabs').tabs('load', 1);
              

              $("pills-fav-tab").trigger('click');
              $("#alt favTab"+altID).hide()
              
               $('#pills-fav-tab').click(function(){
                 console.log($("#alt favTab"+altID))
                 window.location.reload();
                 // $('#tab'+($(this).parent('li').index()+1)+'-img').show(); 
              });
            }
            
            
            
          } else if (action === "favorite"){
            $(this).removeClass("fa-heart-o");
            $(this).addClass("fa-heart");
            $(this).attr("href",  "alts/" + altID + '/unfavorite');


            
            window.location.reload();

          }
         },
          complete: function () {
           
            console.log("Complete!");
          },
        success:function(){
          console.log(action + "d " + altID + "!")
        }
      });
  });

 $('#pills-all-tab').click(function (e) {
  e.preventDefault();
  $(this).tab('show');
});
$('#pills-fav-tab').click(function (e) {
  //e.preventDefault();
  //alert("fav tab")
  //$(this).tab('show');
});

});

</script>