<main class="container-fluid pt-3">
  <section class="container">
    <div class="col-8 mt-5 pt-5 mx-auto ">
      <%= form_with url: '/alts', method: :get do |form| %>
        <div class="input-group input-group-lg">
          <%= form.label :query, "Search for:", class: "sr-only" %>
          <%= form.text_field :query, placeholder: "search for...", class: "form-control rounded " %>
          <%= form.submit "Search", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
    <hr class="border-bottom border-muted my-5">
    <div class="row g-5">
      <div class="col-lg-9">
        <div id="alts" class="row">
          <% @alts.each do |alt| %>
           <% if alt.verified %>
            <div class="col-lg-4">
                <%= render alt %>
            </div>
          <% end %>
        <%end%>
        </div>
      </div>
    
    <div class="col-lg-3">
      <div id= "twitter-feed" class="position-sticky" style="top: 2rem">
          <a class="twitter-timeline" data-height="330"  style="width:100%; min-width: 300px;" href="https://twitter.com/bts_bighit?ref_src=twsrc%5Etfw">Tweets by bts_bighit</a> 
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
    </div>
  </section>
</main>