<main class="container">
  <%= render 'alt_show', alt: @alt %>
  <% if user_signed_in? && current_user.flag != true %>
     <%= link_to 'Edit', edit_alt_path, class: "text-white btn mt-3 btn-primary" %>
    <p class="text-muted">*Help Seven Army improve the title, tags, source, alt text, and etc. of this image</p> 
    <% if user_signed_in? && (current_user == @alt_show.user) || super_admin %>
      <%= button_to 'Delete', @alt, method: :delete, class: "btn btn-outline-danger", data: { confirm: 'Are you sure you want to delete this image?' } %>
    <% end %>
  <% else %>

    <!--<button type="button" class="btn mt-3 btn-primary disabled" href="<%= edit_alt_path %>">
      Edit
    </button>-->
    <% if user_signed_in? && current_user.flag == true %>
      <p class="text-danger">Your account is flagged for inappropriate use</p>
    <% end %>
    <% if !user_signed_in? %>
      <p class="text-muted  ">*<%= link_to "Log in", new_user_session_path %> or <%= link_to "Sign up", new_user_registration_path %> to help Seven Army improve this image</p> 
    <% end %>
  <% end %>
</main>
