<div id="<%= dom_id alt_favorite %>">
  <p>
    <strong>Alt:</strong>
    <%= alt_favorite.alt_id %>
  </p>

  <p>
    <strong>Integer,:</strong>
    <%= alt_favorite.integer, %>
  </p>

  <p>
    <strong>User:</strong>
    <%= alt_favorite.user_id %>
  </p>

  <p>
    <strong>Integer:</strong>
    <%= alt_favorite.integer %>
  </p>

</div>
