<div id="<%= dom_id alt_text %>">
   <div class="col-md-6">
      <%= link_to alt_text.alt.image_url(:small) do %>
        <%= image_tag alt_text.alt.image_url(:small), class: "image", caption: alt_text.alt.title, alt: alt_text.body, class: "img-fluid", height: alt_text.alt.image(:small).height, width: alt_text.alt.image(:small).width %>
      <% end %>
    </div>
  <p>
    <strong>Body:</strong>
    <%= alt_text.body %>
  </p>

  <p>
    <strong>User:</strong>
    <%= alt_text.user_id %>
  </p>

  <p>
    <strong>Alt:</strong>
    <%= alt_text.alt_id %>
  </p>

</div>
