<!DOCTYPE html>
<html>
  <head>
    <title>Seven Army</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/1922d83c51.js" crossorigin="anonymous"></script>
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="<%= @seo_description %>"/>
    <meta name="twitter:title" content="<%= @title %>" />
    <meta name="twitter:image:alt" content="<%= @twitter_alt %>">
    <% if @seo_image.present? %>
      <meta name="twitter:image" content="<%= @seo_image %>"/>
    <% end %>

    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="<%= @title %>" />
    <meta property="og:description"   content="<%= @seo_description %>" />
    <% if @seo_image.present? %>
      <meta property="og:image" content="<%= @seo_image %>" />
    <% end %>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= flash[:notice] %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-labelledby="Close"></button>
      </div>
    <% elsif flash[:error] %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= flash[:error] %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-labelledby="Close"></button>
      </div>
    <% elsif flash[:alert] %>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <%= flash[:alert] %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-labelledby="Close"></button>
      </div>
    <% end %>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Seven Army</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <%= link_to "Images", alts_path, class: "nav-link" %>
            </li>
            <% if user.present? && user.super_user == true %>
              <li class="nav-item">
                <%= link_to "Alt Text", alt_texts_path, class: "nav-link" %>
              </li>
            <% end %>
          </ul>
          <% if user_signed_in? %>
            <%= link_to "Account", edit_user_registration_path, class: "text-white ms-1 btn btn-primary" %>
            <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "ms-1 btn btn-outline-primary" %>
          <% else %>
            <%= link_to "Sign up", new_user_registration_path, class: "text-white ms-1 btn btn-primary"  %>
            <%= link_to "Login", new_user_session_path, class: "ms-1 btn btn-outline-primary"  %>
          <% end %>
        </div>
      </div>
    </nav>
    
    <%= yield %>
    
  </body>
</html>
