<!DOCTYPE html>
<html>
  <head>
    <title>Seven Army</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>    
     <link href="//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>




    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image:alt" content="<%= @twitter_alt %>">
    <meta name="twitter:image:src" content="<%= @seo_image %>"/>
    <meta name="twitter:description" content="<%= @seo_description %>"/>
    <meta name="twitter:title" content="<%= @title %>" />
    <meta name="twitter:domain" content="seven.army" />

    <meta property="og:type"          content="Article" />
    <meta property="og:title"         content="<%= @title %>" />
    <meta property='og:url' content="<%= @seo_url %>" />
    <meta name="description" property="og:description"   content="<%= @seo_description %>" />
    <% if @seo_image.present? %>
      <meta name="image" property="og:image" content="<%= @seo_image %>" />
    <% end %>
  </head>

  <% if user_signed_in? && current_user.flag == true %>
    <body class="bg-dark min-vh-100 text-center">
      <div class="mt-5 container text-danger border border-5 border-danger rounded p-5">
        <h1 class="text-danger mt-5 mx-auto">Your account is flagged for inappropriate use.</h1>
        <p>——Seven Army</p>
        <small>Please contact kate@seven.army if this is a mistake</small>
      </div>

    </body>
  <% else %>
    <body class="min-vh-100">
      <% if flash[:notice] %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <%= flash[:notice] %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-labelledby="Close"></button>
        </div>
      <% elsif flash[:error] %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <%= flash[:error] %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-labelledby="Close"></button>
        </div>
      <% elsif flash[:alert] %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <%= flash[:alert] %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-labelledby="Close"></button>
        </div>
      <% end %>
      

      <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom shadow-sm">
        <div class="container-fluid">
          <%= link_to "Seven Army", alts_path, class: "navbar-brand" %>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <% if user_signed_in? && super_admin %>
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle btn btn-outline-primary" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  ADMIN
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><%= link_to "Alt Text", alt_texts_path, class: "dropdown-item" %></li>
                  <li><%= link_to "Users", moderators_path, class: "dropdown-item" %></li>
                </ul>
              </li>
              <% end %>   
            </ul>
            <div class="nav-item mb-3 mx-1 mb-lg-0"><%= link_to "Participate", verify_path, class: "me-3" %></div>
            <% if user_signed_in? %>
              <div class="nav-item mb-3 mx-1 mb-lg-0">
                <a href="<%= new_alt_path %>" class="me-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg> Create 
                </a>
              </div>
              <div class="d-inline-block  mb-3 mt-3"><%= link_to "Account", edit_user_registration_path, class: "text-white me-3 btn btn-primary btn-sm" %></div>
              <div class="d-inline-block  mb-3 mt-3"><%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "me-3 btn btn-outline-primary btn-sm" %></div>
            <% else %>
              <%= link_to "Sign up", new_user_registration_path, class: "text-white ms-1 btn btn-primary btn-small"  %>
              <%= link_to "Login", new_user_session_path, class: "ms-1 btn btn-outline-primary btn-small"  %>
            <% end %>
          </div>
        </div>
      </nav>
      
    <%= yield %>
      <footer class="footer fixed-bottom bg-light border-top">
        <div class="container">
          <span class="text-muted">2022 misfit-lab.com</span>
        </div>
      </footer>
    </body>
  <% end %>
</html>